#header {
	background-color: rgb(119, 61, 61);
	color: white;
	text-align: center;
	padding: 5px;
}

#nav {
	line-height: 30px;
	background-color: blanchedalmond;
	height: 350px;
	width: 150px;
	float: left;
	padding: 5px;
	align-content: center;
}

#section {
	background-color: antiquewhite;
	height: 350px;
	width: 350px;
	float: left;
	padding: 10px;
}

#footer {
	background-color: rgb(119, 61, 61);
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}